<!DOCTYPE html>
<html>
    <head>
        <title>Adventure Trip!</title>
        <meta name="viewport" content="initial-scale=1.0, width=device-width" />
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>
        <!-- The caller of Google Maps' API, which will call the initMap function back. -->
        <script async defer
              src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC-hp0MQg5eXA-K8Xn5_gGDC5oDmmFfOxM">
        </script>
    </head>
    <body>
        <% if params[:controller] == "users" && params[:action] == "index" && !user_signed_in? %>
            <div class="homeTop">
                <div class="homeHeader">
                    Well, hello you! <%= link_to "Sign in", new_user_session_path, :class => "homeHeaderLink" %>
                    or <%= link_to "Register", new_user_registration_path, :class => "homeHeaderLink" %>
                </div>

                <span class="helper"></span>
                <%= image_tag("title.png", :alt => "Title", :class => "homeTitle") %>
                <button class="btn btn-primary getStartedButton" onClick="slidePage()">Get Started!</button>
            </div>
        <% end %>

        <div class="mainContainer" id="mainContainer">
            <div class="header">
                <div style="display: table-row">
                        <div class="header-cell-left" style="width: 100%"><%= link_to "Adventure Trip!", root_path, :class => "title" %></div>
                        <% if user_signed_in? %>
                            <div class="header-cell-right">You are connected as <b id="user_name"> <%= current_user.user_name %> </b></div>
                            <div class="header-cell-right"><%= link_to "My Account", edit_user_registration_path, :class => "my-account-link" %></div>
                            <div class="header-cell-right"><%= link_to "Disconnect", destroy_user_session_path, :method => :delete %></div>
                            <div class="header-cell-right">
                                <div class = "dropdown pull-right">
                                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"><span id="btnInvitsText">Request to join a trip (<%= @invitations.length %>)</span>
                                    <span class="caret"></span></button>
                                    <input id="nbOfInvits" type="hidden" value="<%= @invitations.length %>" />
                                    <ul class="dropdown-menu">
                                        <% @invitations.each do |i| %>
                                            <li name="invitation<%= i.id %>"> <b> <%= i.trip.title %> </b></li>
                                            <li name="invitation<%= i.id %>"><%= link_to "Accept", accept_permission_path(i.id), :action => "accept", :remote => true, :id => "accept", :onclick => 'hideInvit(' + i.id.inspect + ')' %></li>
                                            <li name="invitation<%= i.id %>"><%= link_to "Refuse", refuse_permission_path(i.id), :action => "refuse", :remote => true, :id => "refuse", :onclick => 'hideInvit(' + i.id.inspect + ')' %></li>
                                        <% end %>
                                    </ul>
                                </div>
                            </div>
                        <% else %>
                            <div class="header-cell-right">
                                Well, hello you! <%= link_to "Sign in", new_user_session_path, :class => "headerLink" %>
                                or <%= link_to "Register", new_user_registration_path, :class => "headerLink" %>
                            </div>
                        <% end %>
                </div>
            </div>

            <div class="contentPanel">
                <%= yield %>

                <div class="footer">
                    <span class="copyright">Adventure Trip! &copy; 2016. All Rights Reserved.</span>
                    <a class="aboutLink" href="#">About</a>
                </div>
            </div>
        </div>
    </body>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</html>
