<%= form_for(@trip) do |f| %>
  <% if @trip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trip.errors.count, "error") %> prohibited this trip from being saved:</h2>

      <ul>
      <% @trip.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!-- Add each existing waypoints as hidden fields if the user is editing a trip. -->
  <% if !@trip.new_record? %>
    <% i = 1 %>
    <% @trip.stops.each do |s| %>
        <%= hidden_field_tag "waypoints[#{i - 1}][]", s.loc_lat, :id => "waypoint-#{i}-1" %>
        <%= hidden_field_tag "waypoints[#{i - 1}][]", s.loc_lon, :id => "waypoint-#{i}-2" %>
        <% i += 1 %>
    <% end %>
  <% end %>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" id="tripTabs" role="tablist">
    <li role="presentation" class="active"><a href="#summary" aria-controls="summary" role="tab" data-toggle="tab">Summary</a></li>
    <li role="presentation"><a href="#route" aria-controls="route" role="tab" data-toggle="tab" id="route-tab">Route</a></li>
    <li role="presentation"><a href="#participants" aria-controls="participants" role="tab" data-toggle="tab">Participants</a></li>
    <li role="presentation"><a href="#costs" aria-controls="costs" role="tab" data-toggle="tab">Costs</a></li>
    <li role="presentation"><a href="#packing" aria-controls="packing" role="tab" data-toggle="tab">Packing List</a></li>
    <li role="presentation"><a href="#comments" aria-controls="comments" role="tab" data-toggle="tab">Comments</a></li>
  </ul>

  <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="summary">
            <div class="field">
              <%= f.label :title %><br>
              <%= f.text_field :title, class: "form-control" %>
            </div>
            <div class="field">
              <%= f.label :description %><br>
              <%= f.text_area :description, class: "form-control" %>
            </div>
            <div class="field">
              <%= f.check_box :public %>
              <%= f.label :public %>
            </div>
            <div class="field">
              <%= f.label :start_date %><br>
              <%= f.datetime_select :start_date %>
            </div>
            <div class="field">
              <%= f.label :end_date %><br>
              <%= f.datetime_select :end_date %>
            </div>
        </div>

        <div role="tabpanel" class="tab-pane fade" id="route">
            <div class="field">
              <%= f.label "Transport" %><br>
              <%= f.collection_select :transport_id, @transports, :id, :name %>
            </div>
            <div class="tripStops">
                <div class="stops">
                    <h4><strong>Stops</strong></h4>
                    <div id="stops-instructions">First select the start of your trip by clicking on the map to the right.</div>
                    <div class="stopsOptions" id="stopsOptions">
                        <input type="button" class="btn btn-primary removeLastStop" onclick="removeLastStop()" value="Remove last stop" /><br/>
                        <input class="arrivalEqualsStart" id="arrivalEqualsStart" name="arrivalEqualsStart" type="checkbox" value="yes"> The arrival stop is also the start one
                    </div>

                    <input type="button" class="btn btn-primary calculateRoute" id="calculateRoute" onclick="calcRoute()" value="Calculate route..." /><br/>
                </div>
                <div class="map" id="map"></div>
            </div>
        </div>

        <div role="tabpanel" class="tab-pane fade" id="participants">
            <div class="field">
              <%= f.label "Users" %><br>
              <select name="users[]" multiple>
                  <%= @users.each do |user| %>
                      <option value="<%= user.id %>"><%= user.email %></option>
                  <% end %>
              </select>
            </div>
        </div>

        <div role="tabpanel" class="tab-pane fade" id="costs">
            ...
        </div>

        <div role="tabpanel" class="tab-pane fade" id="packing">
            ...
        </div>

        <div role="tabpanel" class="tab-pane fade" id="comments">
            ...
        </div>
    </div>

  <br/>

  <div class="actions">
    <%= f.submit(class: "btn btn-primary") %>
  </div>
<% end %>
