<p id="notice"><%= notice %></p>

<!-- Add each existing waypoints as hidden fields if the user is editing a trip. -->
<% i = 1 %>
<% @trip.stops.each do |s| %>
  <%= hidden_field_tag "waypoints[#{i - 1}][]", s.loc_lat, :id => "waypoint-#{i}-1" %>
  <%= hidden_field_tag "waypoints[#{i - 1}][]", s.loc_lon, :id => "waypoint-#{i}-2" %>
  <% i += 1 %>
<% end %>

<!-- Nav tabs -->
<ul class="nav nav-tabs" id="tripTabs" role="tablist">
  <li role="presentation" class="active"><a href="#summary" aria-controls="summary" role="tab" data-toggle="tab">Summary</a></li>
  <li role="presentation"><a href="#route" aria-controls="route" role="tab" data-toggle="tab" id="route-tab">Route</a></li>
  <li role="presentation"><a href="#participants" aria-controls="participants" role="tab" data-toggle="tab">Participants</a></li>
  <li role="presentation"><a href="#costs" aria-controls="costs" role="tab" data-toggle="tab" id="costs-tab">Costs</a></li>
  <li role="presentation"><a href="#packing" aria-controls="packing" role="tab" data-toggle="tab">Packing List</a></li>
  <% if user_signed_in? %>
    <li role="presentation"><a href="#comments" aria-controls="comments" role="tab" data-toggle="tab">Comments</a></li>
  <% end %>
</ul>

<!-- Tab panes -->
<div class="tab-content tabShow">
    <div role="tabpanel" class="tab-pane fade in active" id="summary">
        <p>
          <strong>Title:</strong>
          <%= @trip.title %>
        </p>

        <p>
          <strong>Description:</strong>
          <%= @trip.description %>
        </p>

        <p>
          <strong>Public:</strong>
          <%= @trip.public %>
        </p>

        <p>
          <strong>Start date:</strong>
          <%= @trip.start_date.strftime("%d-%m-%Y %H:%M:%S") %>
        </p>

        <p>
          <strong>End date:</strong>
          <%= @trip.end_date.strftime("%d-%m-%Y %H:%M:%S") %>
        </p>
    </div>

    <div role="tabpanel" class="tab-pane fade" id="route">
        <p>
          <strong>Transport:</strong>
          <span id="transport_name"><%= @transport %></span>
        </p>

        <div class="mapBase" id="mapTripDetails"></div>
    </div>

    <div role="tabpanel" class="tab-pane fade" id="participants">
        <p>
            <strong>Here are the crazy adventurers of the trip!</strong><br/>
            Administrators appear in bold.<br/>
        </p>
        <ul>
        <%
            @users.each do |u|
                isAdmin = 0

                @permissions.each do |p|
                    if p.user_id == u.id
                        if p.permission_type_id == @admin_permission
                            isAdmin = 1
                        end

                        break
                    end
                end
            %>
            <% if isAdmin == 1 %>
                    <li><strong><%= u.user_name + " (" + u.first_name + " " + u.family_name + ")" %></strong></li>
            <% else %>
                    <li><%= u.user_name + " (" + u.first_name + " " + u.family_name + ")" %></li>
            <% end
            end %>
        </ul>
    </div>

    <div role="tabpanel" class="tab-pane fade" id="costs">
        <div class="calculateRouteWarning" id="calculateRouteWarning">Please first calculate the trip's route by clicking the "Route" tab, then come back here.</div>
        Please enter the medium cost per kilometer:
        <input disabled="disabled" id="costPerKm" min="0" name="costPerKm" onchange="calculateCosts()" placeholder="0.00" step="0.05" type="number"> CHF
        <input class="calculateCostsButton" disabled="disabled" id="calculateCostsBtn" onclick="calculateCosts()" type="button" value="Calculate costs!" /><br/>
        <div class="tripCosts"><u>Costs:</u><br/><div class="costs" id="tripCosts">-</div></div>
    </div>

    <div role="tabpanel" class="tab-pane fade" id="packing">
        <p>
          <strong>Packing list:</strong>
        </p>

        <ul id="item_list">
          <% @items.each do |item| %>
            <li> 
                <%= item.name %>
                <%= link_to 'Edit', edit_item_path(item) %>
                <%= link_to 'Destroy', item, :confirm => 'Are you sure?', :method => :delete, :remote => true, :class => "item" %>  
            </li>
          <% end %>
        </ul>

        <% if user_signed_in? %>
        <p>
          <%= form_for(@item,:remote => true) do |f| %>
            <strong>Add an item:</strong> <%= f.text_field :name %> <br>
            <%= f.hidden_field :trip_id, :value => @trip.id %>
            <%= f.submit "Add" %>
          <% end %>
        </p>
        <% end %>
    </div>

    <div role="tabpanel" class="tab-pane fade" id="comments">
        <p>
          <strong>Comments:</strong>
        </p>

        <ul id="comment_list">
          <% @comments.each do |comment| %>
            <li> <%= comment.text %> | <%= comment.creation_date.strftime("%d-%m-%Y %H:%M:%S") %> | <%= comment.user.user_name %>
               <%= link_to 'Edit', edit_comment_path(comment) %>
               <%= link_to 'Destroy', comment, :confirm => 'Are you sure?', :method => :delete, :remote => true, :class => "comment" %>
            </li>
          <% end %>
        </ul>
        <% if user_signed_in? %>
          <p>
            <%= form_for(@comment,:remote => true) do |f| %>
              <strong> Add a comments:</strong> <%= f.text_field :text %> <br>
              <%= f.hidden_field :user_id, :value => current_user.id %>
              <%= f.hidden_field :trip_id, :value => @trip.id %>
              <%= f.submit "Add" %>
            <% end %>
          </p>
        <% end %>
    </div>
</div>

<br/>

<%= link_to 'Edit', edit_trip_path(@trip) %> |
<%= link_to 'Back', trips_path %>
