<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @trip.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @trip.description %>
</p>

<p>
  <strong>Public:</strong>
  <%= @trip.public %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @trip.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @trip.end_date %>
</p>

<p>
  <strong>Transport:</strong>
  <%= @trip.transport_id %>
</p>

<p>
  <strong>Commentaires:</strong>
</p>

<ul id="comments">
  <% @comments.each do |comment| %>
    <li> <%= comment.text %> </li>
  <% end %>
</ul>

<p>
  <%= form_for(@comment,:remote => true) do |f| %>
    <strong> Ajouter un commentaire:</strong> <%= f.text_field :text %> <br>
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.hidden_field :trip_id, :value => @trip.id %>
    <%= f.submit "Créer" %>
  <% end %>
</p>

<%= link_to 'Edit', edit_trip_path(@trip) %> |
<%= link_to 'Back', trips_path %>