<script>
    function slidePage() {
        $('html, body').animate({
            scrollTop: $("#mainContainer").offset().top
        }, 1000);
    }
</script>

<h1> Last public trips </h1>

<table class="tripTable">
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Transport</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @trips.each do |trip| %>
      <tr>
        <td><%= image_tag("public.png", size: "25", "data-toggle": "tooltip", "data-placement": "left", title: "This is a public trip.") %></td>
        <td><%= link_to trip.title, trip %></td>
        <td><%= trip.start_date.strftime("%d.%m.%y %H:%M") %></td>
        <td><%= trip.end_date.strftime("%d.%m.%y %H:%M") %></td>
        <td><%= trip.transport.name %></td>
        <td>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Take a look at all existing trips...", trips_path %>

<% if user_signed_in? %>
    <br/><%= link_to "Create a new trip!", new_trip_path %>
<% end %>
