<script>
    function slidePage() {
        $('html, body').animate({
            scrollTop: $("#mainContainer").offset().top
        }, 1000);
    }
</script>

<h1> Plan your trip ! </h1>

Adventure Trip is a website that allow you to plan your roadtrips with your friends and share it to the world. It facilitates interaction between adventurers and can bring inspiration to the undecided folks who have no idea where to go during their trip.

<hr>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 columns"> 
      <h4> Plan </h4> 
      Plan your trip by easily picking stop want to make. Choose a transport mode and automatically get an estimation of time. Add a packing list so you don't forget anything to bring.
    </div>
    <div class= "col-md-4 columns"> 
      <h4> Invite your friend </h4> 
      Ask your friends to join your trip. They can leave a message and contribute to the planning by also adding object to the packing list.
    </div>
    <div class= "col-md-4 columns"> 
      <h4> Share it to the world </h4>
      Set your trip in public mode and show it to anybody. Inspire future adventurers to go on a trip like you did.
    </div>
  </div>
</div>

<hr>

<h4> Last public trips :</h4>

<table class="tripTable">
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Transport</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @trips.each do |trip| %>
      <tr>
        <td><%= image_tag("public.png", size: "25", "data-toggle": "tooltip", "data-placement": "left", title: "This is a public trip.") %></td>
        <td><%= link_to trip.title, trip %></td>
        <td><%= trip.start_date.strftime("%d.%m.%y %H:%M") %></td>
        <td><%= trip.end_date.strftime("%d.%m.%y %H:%M") %></td>
        <td><%= trip.transport.name %></td>
        <td>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Take a look at all existing trips...", trips_path %>

<% if user_signed_in? %>
    <br/><%= link_to "Create a new trip!", new_trip_path %>
<% end %>
